.navbar {
    padding: 50px;
    gap: 110px;
    background-color: white;
}

.navbar h1 {
    padding-left: 20px;
    color: red;
}

.recent-posts {
    display: flex;
    flex-direction: column;
    padding: 100px;
    gap: 30px;
}

.recent-posts h1 {
    font-size: 50px;
}

.smile {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}

.smile1 {
    display: flex;
    gap: 20px;
}

.smile2 {
    display: flex;
    gap: 20px;
}

.contact {
    background-color: black;
    padding: 50px;
    height: 550px;
    width: 1090px;
    display: flex;
    gap: 300px;
}

.ask {
    display: flex;
    color: white;
    gap: 20px;
}

.abc{
    display: flex;
    gap: 50px;
}

.converse input{
    display: flex;
    background-color: transparent;
    border: none;
    border-bottom:  1px solid white;
    border-radius: 0;
    padding: 25px; 
}
